<footer id="footer">
    <div class="footer-container">
        <div class="footer-brand">
            <h3>Dudu<span>Tech</span></h3>
            <p>Transformando ideias em código.</p>
        </div>

        <div class="footer-edu">
            <h4>Educação</h4>
            <p>Instituto Mauá de Tecnologia</p>
            <p>Engenharia de Computação</p>
        </div>

        <div class="footer-social">
            <h4>Social</h4>
            <div class="social-icons">
                <a href="https://github.com/DuduArts01" target="_blank"><i class="fa-brands fa-github"></i></a>
                <a href="https://www.linkedin.com/in/eduardo-de-medeiros-siqueira/" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
                <a href="https://youtube.com/@gambito_digital?si=o-ZbUJDnHSmOUQao" target="_blank"><i class="fa-brands fa-youtube"></i></a>
                <a href="https://www.instagram.com/gambito_digital?igsh=MTNzaGx4ZTNmbGhhbQ==" target="_blank"><i class="fa-brands fa-instagram"></i></a>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <p>&copy; 2026 Eduardo. Todos os direitos reservados.</p>
    </div>
</footer>