<nav>
    <div class="site-title">
        <a href="/"><a href="/"><img src="/images/logo/dudutech.png" alt="logo"></a></a>
    </div>

    <ul>
        <li><a href="/">Inicio</a></li>
        <li><a href="/about">Sobre</a></li>
        <li><a href="#footer">Contato</a></li>
        <li><a href="/projects">Projetos</a></li>
    </ul>
</nav>