/* General Style */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
  font-family: "Poppins", sans-serif;
   
}

body{
  background-color: #000;
  height: 100vh;
}

.interface{
  margin: 0 auto;
}

.flex{
  display: flex;
}

.btn-contato button{
  padding: 25px 50px;
  font-size: 25px;
  font-weight: 600;
  background-color: #ff0000;
  border: 0;
  border-radius: 35px;
  cursor: pointer;
  transition: .2s;
}

h2.title{
  color: #fff;
  font-size: 58px;
  text-align: center;
}

h2.title span{
  color: #ff0000;
}

button:hover, form .btn-send input[type=submit]:hover{
  box-shadow: 0 0 15px #ff0000;
  transform: scale(1.05);
}

.btn-social button{
  width: 90px;
  height: 90px;
  border-radius: 50%;
  border: none;
  background-color: #ff0000;
  font-size: 35px;
  cursor: pointer;
  margin: 10px 10px;
  transition: .2s;
}

/* Header Style */
header{
  padding: 40px 4%;
}

header > .interface {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header a{
  color: #5c5c5c;
  text-decoration: none;
  display: inline-block;
  font-size: 23px;
}

header a:hover{
  color: #fff;
  transform: scale(1.05);
  transition: .2s;
}

header nav ul{
  list-style-type: none;
}

header nav ul li{
  display: inline-block;
  padding: 0 40px;
}

/* Top Web Style */
section.top-web{
  padding: 40px 4%;
}

section.top-web .flex{
  align-items: center;
  justify-content: center;
  gap: 90px;
}

.top-web h1{
  color: #fff;
  font-size: 75px;
  line-height: 70px;
}

.top-web .txt-top-web h1 span{
  color: #ff0000;
  font-size: 100px;
}

.top-web .txt-top-web p{
  color: #fff;
  margin: 40px 0;
  font-size: 25px;
}

.top-web .img-top-web img{
  position: relative;
  animation: tofloat 2s ease-in-out infinite alternate;
}

@keyframes tofloat{
  0%{
    top: 0;
  }

  100%{
    top: 30px;
  }
}

section.specialty{
  padding: 40px 4%;
}

section.specialty .flex{
  gap: 60px;
}

.specialty .specialty-box{
  color: #fff;
  padding: 60px;
  border-radius: 20px;
  margin-top: 55px;
  transition: .2s;
}

.specialty .specialty-box:hover{
  transform: scale(1.05);
  box-shadow: 0 0 15px #ffffff88;
}

.specialty .specialty-box i{
  font-size: 100px;
  color: #ff0000;
}

.specialty .specialty-box h3{
  font-size: 50px;
  margin: 15px 0;
}

.specialty .specialty-box p{
  font-size: 18px;
}

/* About Style */
section.about{
  padding: 130px 4%;
}

section.about .flex{
  align-items: center;
  gap: 60px;
}

.img-about-interface{
  width: 550px;
  border-radius: 20px;
}

.about .txt-about{
  color: #fff;
}

.about .txt-about h2{
  font-size: 70px;
  line-height: 70px;
  margin-bottom: 40px;
}

.about .txt-about h2 span{
  color: #ff0000;
  display: block;
  margin-left: 20px;
  font-size: 80px;
}

.about .txt-about p{
  margin: 20px 0;
  text-align: justify;
  font-size: 27px;
}


/* Portifolio Style */
section.portifolio{
  padding: 130px 4%;
  box-shadow: 0 0 40px 10px #ffffff17;
}

section.portifolio .flex{
  justify-content: space-around;
}

.img-port{
  width: 660px;
  height: 760px;
  background-size: cover;
  background-position: 100% 0%;
  transition: .2s;
  cursor: pointer;
  border-radius: 40px;
  position: relative;
}

.img-port:hover{
  background-position: 100% 100%;
}

.overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000000c4;
  border-radius: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 35px;
  font-weight: 600;
  color: #fff;
  opacity: 0;
  transition: .5s;
}

.overlay:hover{
  opacity: 1;
}

/* Form style */
section.form{
  padding: 130px 4%;
}

form{
  max-width: 850px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  margin-top: 50px;
}

form input, form textarea{
  width: 100%;
  background-color: #1d1d1d;
  border: 0;
  outline: 0;
  padding: 25px 20px;
  border-radius: 20px;
  color: #fff;
  font-size: 25px;
  margin: 10px;
}

form textarea{
  resize: none;
  max-height: 200px;
}

form .btn-send{
  margin-top: 40px;
  text-align: center;
}

form .btn-send input[type=submit]{
  width: 160px;
  background-color: #ff0000;
  color: #000;
  font-weight: 700;
  cursor: pointer; 
  transition: .2s;
}

/* Footer Style */
footer{
  padding: 40px 4%;
  box-shadow: 0 0 40px 10px #ffffff17;
}

footer .flex{
  justify-content: space-between;
}

footer .line-footer{
  padding: 40px 0;
}

footer .line-footer p i{
  color: #ff0000;
  font-size: 35px;
}

footer .line-footer p a{
  color: #fff;
  font-size: 25px;
}

.borderl{
  border-top: 4px solid #ff0000;
}