/* General Style */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "Poppins", sans-serif;

}

body {
  background-color: #000;
  height: 100vh;
}

.interface {
  margin: 0 auto;
}

.flex {
  display: flex;
}

.btn-contato button {
  padding: 10px 40px;
  font-size: 18px;
  font-weight: 600;
  background-color: #ff0000;
  border: 0;
  border-radius: 30px;
  cursor: pointer;
  transition: .2s;
}

h2.title {
  color: #fff;
  font-size: 38px;
  text-align: center;
}

h2.title span {
  color: #ff0000;
}

button:hover,
form .btn-send input[type=submit]:hover {
  box-shadow: 0 0 8px #ff0000;
  transform: scale(1.05);
}

.btn-social button {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: none;
  background-color: #ff0000;
  font-size: 22px;
  cursor: pointer;
  margin: 0 5px;
  transition: .2s;
}

.logo {
  width: 150px;
}

/* Header Style */
header {
  padding: 40px 4%;
}

header>.interface {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header a {
  color: #5c5c5c;
  text-decoration: none;
  display: inline-block;
}

header nav.menu-desktop a:hover {
  color: #fff;
  transform: scale(1.05);
  transition: .2s;
}

header nav ul {
  list-style-type: none;
}

header nav.menu-desktop ul li {
  display: inline-block;
  padding: 0 40px;
}

/* Menu Mobile Style */
.btn-open-menu i{
  color: #ff0000;
  font-size: 40px;
}

.menu-mobile{
  background-color: #000;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 99999;
  width: 0%;
  overflow: hidden;
  transition: .5s;
}

.menu-mobile.open-menu{
  width: 70%;
}

.menu-mobile.open-menu ~ .overlay-menu{
  display: block;
}

.menu-mobile .btn-close{
  padding: 20px 5%;
}

.menu-mobile .btn-close i{
  color: #ff0000;
  font-size: 30px;
}

.menu-mobile nav ul {
  text-align: right;
}

.menu-mobile nav ul li a{
  color: #fff;
  font-size: 20px;
  font-weight: 300;
  padding: 20px 8%;
  display: block;
}

.menu-mobile nav ul li a:hover{
  background-color: #ff0000;
  color: #000;
}

.overlay-menu{
  background-color: #000000cb;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 88888;
  display: none;
}

/* Top Web Style */
section.top-web {
  padding: 40px 4%;
}

section.top-web .flex {
  align-items: center;
  justify-content: center;
  gap: 90px;
}

.top-web h1 {
  color: #fff;
  font-size: 42px;
  line-height: 40px;
}

.top-web .txt-top-web h1 span {
  color: #ff0000;
  font-size: 60px;
}

.top-web .txt-top-web p {
  color: #fff;
  margin: 40px 0;
}

.top-web .img-top-web img {
  position: relative;
  animation: tofloat 2s ease-in-out infinite alternate;
}

@keyframes tofloat {
  0% {
    top: 0;
  }

  100% {
    top: 30px;
  }
}

/* Specialty Style */
section.specialty {
  padding: 40px 4%;
}

section.specialty .flex {
  gap: 60px;
}

.specialty .specialty-box {
  color: #fff;
  padding: 40px;
  border-radius: 20px;
  margin-top: 45px;
  transition: .2s;
}

.specialty .specialty-box:hover {
  transform: scale(1.05);
  box-shadow: 0 0 20px #ffffff88;
}

.specialty .specialty-box i {
  font-size: 70px;
  color: #ff0000;
}

.specialty .specialty-box h3 {
  font-size: 28px;
  margin: 15px 0;
}

/* About Style */
section.about {
  padding: 80px 4%;
}

section.about .flex {
  align-items: center;
  gap: 60px;
}

.img-about-interface {
  width: 350px;
  border-radius: 20px;
}

.about .txt-about {
  color: #fff;
}

.about .txt-about h2 {
  font-size: 40px;
  line-height: 40px;
  margin-bottom: 30px;
}

.about .txt-about h2 span {
  color: #ff0000;
  display: block;
  font-size: 45px;
}

.about .txt-about p {
  margin: 20px 0;
  text-align: justify;
}


/* Portifolio Style */
section.portifolio {
  padding: 80px 4%;
  box-shadow: 0 0 40px 10px #ffffff17;
}

section.portifolio .flex {
  justify-content: space-around;
  margin-top: 60px;
}

.img-port {
  width: 360px;
  height: 460px;
  background-size: cover;
  background-position: 100% 0%;
  transition: 4s;
  cursor: pointer;
  border-radius: 40px;
  position: relative;
}

.img-port:hover {
  background-position: 100% 100%;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000000c4;
  border-radius: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  font-weight: 600;
  color: #fff;
  opacity: 0;
  transition: .5s;
}

.overlay:hover {
  opacity: 1;
}

/* Form style */
section.form {
  padding: 80px 4%;
}

form {
  max-width: 500px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  margin-top: 40px;
}

form input, form textarea {
  width: 100%;
  background-color: #1d1d1d;
  border: 0;
  outline: 0;
  padding: 20px 15px;
  border-radius: 15px;
  color: #fff;
  font-size: 18px;
  margin: 10px;
}

/*
form input::placeholder{
  color: #ff0000;
} 
*/

form textarea {
  resize: none;
  max-height: 200px;
}

form .btn-send {
  margin-top: 20px;
  text-align: center;
}

form .btn-send input[type=submit] {
  width: 120px;
  background-color: #ff0000;
  color: #000;
  font-weight: 700;
  cursor: pointer;
  transition: .2s;
}

/* Footer Style */
footer {
  padding: 40px 4%;
  box-shadow: 0 0 40px 10px #ffffff17;
}

footer .flex {
  justify-content: space-between;
}

footer .line-footer {
  padding: 20px 0;
}

footer .line-footer p i {
  color: #ff0000;
  font-size: 22px;
}

footer .line-footer p a {
  color: #fff;
  text-decoration: none;
}

.borderl {
  border-top: 2px solid #ff0000;
}

@media screen and (max-width: 1020px) {

  /* General Class*/
  .flex {
    flex-direction: column;
  }

  .top-web .flex {
    flex-direction: column-reverse;
  }

  h2.title{
    font-size: 34px;
    line-height: 30px;
  }

  /* Header */
  .menu-desktop, .btn-contato{
    display: none;
  }

  /* Top Web*/
  section.top-web .flex {
    gap: 40px;
  }

  section.top-web {
    padding: 20px 8%;
  }

  .top-web h1 {
    font-size: 30px;
  }

  .top-web .img-top-web img {
    width: 100%;
  }

  /* Specialty Style */
  section.specialty {
    padding: 40px 8%;
  }

  /* About */
  .about .flex{
    flex-direction: column-reverse;
  }

  section.about{
    padding: 80px 8%;
  }

  .about .txt-about h2{
    font-size: 34px;
    line-height: 35px;
    text-align: center;
  }

  .about .txt-about h2 span{
    font-size: 38px;
  }

  .btn-social{
    text-align: center;
  }

  .img-about img{
    width: 100%;
  }

  /* Portifolio */
  section.portifolio{
    padding: 80px 8%;
  }

  .img-port{
    width: 100%;
    max-width: 360px;
    margin: 0 auto;
  }

  section.portifolio .flex{
    gap: 60px;
  }

  /* Form */
  form{
    width: 80%;
  }

  /* Footer */
  footer .flex{
    gap: 30px;
  }

  footer .line-footer{
    text-align: center;
  }
}