section.thanks{
    padding: 80px 4%;
}

section.thanks .flex{
    flex-direction: column;
    align-items: center;
}

section.thanks .flex h1{
    color: #fff;
    font-size: 34px;
}

section.thanks .flex h1 span{
    color: #ff0000;
    font-size: 70px;
}

section.thanks .flex p{
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
}

section.thanks .flex .img-logo-t{
    background-color: #b4000075;
    width: 450px;
    height: 450px;
    border-radius: 50%;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.logot{
    width: 350px;
    height: 350px;
    
}